services:
  db:
    # We use a postgres image which supports both amd64 & arm64 architecture
    image: postgres:16-alpine
    command: postgres -c log_statement=all
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER']
      interval: 3s
      retries: 5
      start_period: 30s
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - backnet
    environment:
      - POSTGRES_DB=example
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432

  backend:
    build:
      context: backend
      target: builder
    restart: always
    command: ["python", "-m", "flask", "run", "--host=0.0.0.0", "--port=8000"]
    secrets:
      - db-password
    ports:
      - 8000:8000
    networks:
      - backnet
      - frontnet
    environment:
      - FLASK_APP=wsgi:app
      - FLASK_ENV=development
      - SECRET_KEY=dev-secret-key-for-local-development
      - LOG_LEVEL=DEBUG
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=example
      - DB_USER=root
      - DB_PASSWORD_FILE=/run/secrets/db-password
    depends_on:
      db:
        condition: service_healthy

  proxy:
    build: proxy
    restart: always
    ports:
      - 80:80
    depends_on: 
      - backend
    networks:
      - frontnet

volumes:
  db-data:

secrets:
  db-password:
    file: db/password.txt

networks:
  backnet:
  frontnet:
